doctype
html(lang=config.language)
    head
        include ../_components/head
    body
        header.row-flex-row.limit-width.vh-center
            a(href=url_for()).logo
                img(src=url_for('https://avatars0.githubusercontent.com/u/3350542?v=3&s=466'))
            include ../_components/nav
        .container.limit-width
            section.row-flex-row
                block content
       
        footer.footer
            .row-flex-row.limit-width.vh-center
                include ../_components/footer
        include ../_partial/scripts